body {
  background-color: #111111;
  background-image: url("https://cdn.glitch.com/b16586a4-a7dc-4d54-bb21-2b895eb1f215%2Fstars.png?1519852098794");
  margin: 0px;
  user-select: none;
}

#planet1 {
  border-radius: 50%;
  background-color: #5FFF1E;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 35%;
  top: 35%;
}

#planet1Moon {
  border-radius: 50%;
  background-color: #a8a8a8;
  width: 25px;
  height: 25px;
  position: absolute;
  left: 35%;
  top: 30%;
}

#bottomView {
  font-family: monospace;
  color: #35fc48;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

#gregEggMoonCrater {
  border-radius: 50%;
  background-color: #e8e8e8;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 35.5%;
  top: 31%;
}

#view {
  font-family: monospace;
  color: #35fc48;
  position: absolute;
  top: 0px;
  left: 0px;
}

#sideView {
  position: absolute;
  top: 0px;
  right: 0px;
}

#body {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}
#sideView {
  font-family: monospace;
  color: white;
}

#button {
  color: black;
  background-color: lime;
  text-align: center;
}